*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F5F8FF;
}
header{
    background-image: url('Assets/Hero-bg.png');
     background-repeat: no-repeat;
    background-size: cover;
    height: 698px;   
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h1{
        padding:50px 0px 0px 150px;
        color:#4e47ff

    }
    button{
        margin:51px 150px 0px 0px;
        background-color: #4e47ff;
        color: white;
        font-size: 16px;
        padding: 12px 36px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
    }
}
.text-container{
    text-align: center;
    padding: 158px 0px 0px 0px;
    h1{
        font-size: 65px;
    }
    button{
        background-color: #4e47ff;
        color: white;
        font-size: 16px;
        margin:49px 0px 0px 0px;
        padding: 12px 36px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
    }
}
.content-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:116px 0px 0px 0px;
    padding: 0px 159px 0px 141px;

}
.text-content{
    width: 517px;
    height: 275px;
    h1{
        font-size: 42px;
    }
    p{
        font-size: 24px;
    }
    button{
        background-color: #4e47ff;
        color: white;
        font-size: 16px;
        margin: 24px 0px 0px 0px;
        padding: 12px 36px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
    }

}
.image-content{
    img{
        width: 403px;
        height: 328px;
        border-radius: 12px;
    }
}

.stats-section{
    background-color:rgb(229, 231, 255) ;
    height: 306px;
    margin: 114px 159px 137px 141px;
    border-radius: 15px;
}
.stats-header{
    p{
        font-size: 38px;
        text-align: center;
        padding: 50px 0px 0px 0px;
    }
}
.stats-container{
    display: flex;
    gap:158px;
    justify-content: center;
    align-items: center;
    padding: 40px 159px 50px 141px;
}
.stat-item{
    text-align: center;
    h1{
        font-size: 80px;
        color: #4e47ff;
    }
    p{
        font-size: 20px;
        color:rgb(114, 115, 127);
    }
}
.feedback-section h1{
    text-align: center;
}
.feedback-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F8FF;
    padding: 20px 0px;
    gap:20px
}
.feedback-card{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 293px;
    width:467px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    

}
.star-rating{
    color:#FFB805;
    padding: 24px 0px;
}
.feedback-text{
    h2{
        padding-bottom: 8px;
        font-size: 24px;
    }
    p{
        font-size: 16px;
        color: rgb(114, 115, 127);
        padding-bottom: 20px;
    };
}
.reviewer-info img{
   border-radius: 50%;
}
.reviewer-info{
    display: flex;
    align-items: center;
    gap: 10px;
    h4{
        font-size: 16px;
        color: rgb(114, 115, 127);
    }
    p{
        font-size: 14px;
        color: rgba(114, 115, 127, 0.688);
    }
}
.focus-section{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    margin: 0px 149px 0px 151px;
    border-radius: 20px;
    img{
        border-radius: 20px;
        margin-bottom: 70px;
    }
}
.focus-text{
    h1{
        font-size: 50px ;
        padding: 71px 0px 20px 0px;
    }
    p{
        font-size: 24px;
        color: rgb(114, 115, 127);
        padding-bottom: 20px;
    }
    button{
        background-color: #4e47ff;
        color: white;
        font-size: 16px;
        padding: 12px 36px;
        margin-bottom: 20px;
        border-radius: 12px;
        border: none;
        cursor: pointer;

    }
    
}

form{
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    h1{
        font-size: 97px;
        text-align: center;
        margin-bottom: 20px;
    }
}
.form-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
        width: 497px;
        height: 70px;
        border-radius: 12px;
        border: 1px solid #4e47ff;
        padding: 32px 20px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    label{
        font-size: 16px;
        color: #4e47ff;
        margin-bottom: 10px;
        margin-right: auto;
    }
    textarea{
        width: 497px;
        height: 150px;
        border-radius: 12px;
        border: 1px solid #4e47ff;
        padding: 20px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    button{
        background-color: #4e47ff;
        color: white;
        font-size: 16px;
        padding: 22px 36px;
        width: 497px;
        height: 70px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
    }
}
footer{
    background-color: #FFFFFF;
    text-align: center;
    align-items: center;
    padding: 104px 0px;
    h1{
        font-size: 100px;
        color: #4e47ff;
        padding-bottom: 8px;
    }
    p{
        font-size: 24px;
        color: rgb(114, 115, 127);
        padding-bottom: 20px;
    }
}
.footer-links ul, a{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap:30px;
    color: rgb(114, 115, 127);
    text-decoration: none;
}
button:hover{
    background-color: darkcyan;
    transition: background-color 0.5s ease;
}